{% extends "layout.html" %}
{% block main %}
<html>
  <head>
    <script src="https://prestohacks.nicholasxwang.repl.co/static/js/main.js"></script>
    <link rel="stylesheet" href="static/css/styles.css">
    <meta property="og:title" content="MusiqueWorld" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://PrestoHacks.nicholasxwang.repl.co" />
    <meta property="og:image" content="/static/images/Logo.png" />
    <meta property="og:description" content="MusiqueWorld is the perfect app for people who make music, listen to music, and play music. It includes tools for composing music, playing music, and listening to music! " />
    <meta name="theme-color" content="#11022C">
  </head>
  <body>
    <div style="text-align:center;">
      <div style="text-align:left;">
        <h1><img src="static/images/Logo.png" style="height:1.5em;" >MusiqueWorld</h1>
        <p>MusiqueWorld is the perfect app for people who make music, listen to music, and play music. It includes tools for composing music, playing music, and listening to music!</p>
        <h2>Our Website</h2>
        <a href="/login"><button>Login</button></a><a href="/signup"><button>Sign Up</button></a><a href="/about"><button>About</button></a>
        <h2>Our Tools</h2>
        <a href="/search"><button>Search for Music</button></a><a href="/convert"><button>Convert Sheet Music to Audio</button></a><a href="/generateOrchestra"><button>Generate Orchestra Background</button></a>
      </div>
    </div>
    
  </body>
</html>
{% endblock %}
