{% extends "layout.html" %}
{% block main %}
<html>
  <head>
    <script src="static/js/index.js"></script>
    <link rel="stylesheet" href="static/css/styles.css">
    <meta property="og:title" content="MusiqueWorld" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://PrestoHacks.nicholasxwang.repl.co" />
    <meta property="og:image" content="/static/images/Logo.png" />
    <meta property="og:description" content="MusiqueWorld is the perfect app for people who make music, listen to music, and play music. It includes tools for composing music, playing music, and listening to music! " />
    <meta name="theme-color" content="#11022C">
  </head>
  <body>
    <div style="text-align:center;">
      <div style="text-align:left;">
        <h1>Login</h1>
        <input type="email" placeholder="Email"><br>
        <input type="username" placeholder="Username"><br>
        <input type="password" placeholder="Password"><br>
        <input type="beta" placeholder="Beta Code"><br>
        <button class="button">
          <span class="default">Submit</span>
          <span class="success">Submitted</span>
          <div class="left"></div>
          <div class="right"></div>
        </button>
      </div>
    </div>
    
  </body>
</html>
{% endblock %}
